@charset "UTF-8";

/* CSS Document */


/* RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-family: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
}


/* END RESET */

.promo_box h3 {
    color: #e7901f;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.promo_box {
    border: solid 2px red;
    padding: 15px;
    height: auto;
    margin: 20px auto;
    color: red;
}

.promo_box_inside {
    margin: 0 auto;
    width: 250px;
    height: auto;
    color: red;
}

.promo_box_inside p {
    text-align: center;
    color: red !important;
    font-weight: bold;
}

.josHeadshot {
    /* border: solid 1px #336192; */
    width: 145px;
    height: 207px;
    margin: 0 10px 10px 0;
}

body {
    background: #dcecf7 url('images/body-bg-tile.png') repeat-x top;
    font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
    background: transparent url('images/wrapper-bg-tile.png') repeat-y top center;
    margin: 0 auto;
    width: 920px;
}

.info #page {
    width: 904px;
    background: #FFFFFF url('images/homepage-no-column-bg-tile.png') repeat-y top center;
    margin-left: 8px;
    padding-bottom: 21px;
}

#page {
    width: 904px;
    background: #FFFFFF url('images/homepage-bg-tile.png') repeat-y top center;
    margin-left: 8px;
    padding-bottom: 21px;
}

#mainColumn {
    width: 642px;
    float: left;
}

#rightSidebar {
    width: 261px;
    background: transparent url('images/sidebar-bg-tile.png') repeat-x top center;
    float: right;
}


/* UTILITIES */

.hide {
    display: none;
}

.clear {
    margin: 20px;
    padding: 0;
    line-height: 0;
    clear: both;
}

.center {
    text-align: center;
    margin: 20px auto;
}


/* STYLES */

#content {
    font-size: 13px;
    width: 360px;
    margin-left: 45px;
    float: left;
    padding-top: 25px;
    color: #005581;
}

#content h1 {
    line-height: 2em;
    margin-bottom: 12px;
    color: #e7901f;
}

body.home #content h1 {
    line-height: 1.2em;
    margin-bottom: 12px;
    color: #e7901f;
}

#content ul {
    list-style: disc;
    margin-left: 15px;
    margin-bottom: 15px;
    list-style-position: inside;

}

#content p {
    line-height: 1.4em;
    color: #005581;
}

ul#navUL {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#navUL li {
    display: inline;
    float: left;
}

#leftColumn {
    width: 195px;
    float: left;
    padding-top: 25px;
    margin-left: 19px;
}

#leftColumn h3 {
    font-size: 14px;
    font-weight: bold;
    color: #005581;
    line-height: 1.3em;
    margin-bottom: 8px;
}

#leftColumn p {
    font-size: 11px;
    color: #005581;
    line-height: 1.5em;
}

#leftColumn img {
    margin-top: 0px;
}

#rightSidebar {
    width: 261px;
    background: transparent url('images/sidebar-bg-tile.png') repeat-x top center;
    float: right;
    color: #005581;
    padding-top: 18px;
    padding-bottom: 10px;
}

#rightSidebar h2 {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 8px;
}

#rightSidebar h3 a {
    color: #005581;
    text-decoration: none;
    font-weight: bold;
}

#rightSidebar p {
    font-size: 10px;
    color: #005581;
    line-height: 1.5em;
    margin: 14px;
}

#contactInfo p.bold {
    font-size: 12px;
    text-align: center;
    line-height: 1.5em;
    font-weight: bold;
}

#contactInfo p {
    font-size: 12px;
    text-align: center;
    line-height: 1.5em;
    margin-top: 8px;
}

#contactInfo a {
    color: #005581;
}

.center h3 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

#footer {
    font-size: 10px;
    color: #005581;
    max-width: 850px;
    margin: 0 auto 20px;
    padding-bottom: 30px;
    
    
}

#footer p {
    margin-right: 8px;
    margin-top: 0;
    padding-top: 4px;
    text-align: right;
}

#footer a {
    color: #005581;
}

.info #content {
    width: 575px;
    margin-left: 19px;
}

.info #content h3 {
    font-weight: bold;
}

.info #content p {
    margin-bottom: 21px;
    
}

div.bio h3 {
    font-size: 14px;
    font-weight: bold;
}

div.bio p {
    font-size: 12px;
    text-align: left;
}

.right {
    float: left;
    width: 150px;
}

img.headshot {
    float: left;
    margin-left: 12px;
    margin-right: 10px;
}


/*Red Hammer Styles*/

#footer p.footer-nav {
    text-align: right;
    padding-right: 10px;
    ;
}

#footer p {
    text-align: left;
    padding-left: 10px;
}


/*Red Hammer Nav Styles*/


/* Red Hammer Nav styles */

#nav {
    border-top: 3px solid #fff;
    -webkit-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .75);
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .75);
}

ul#navUL {
    float: none;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

ul#navUL li {
    background: -webkit-linear-gradient(top, rgb(245, 245, 245) 0%, rgb(193, 192, 192) 87%, rgb(193, 192, 192) 100%);
    background: -o-linear-gradient(top, rgb(245, 245, 245) 0%, rgb(193, 192, 192) 87%, rgb(193, 192, 192) 100%);
    background: -ms-linear-gradient(top, rgb(245, 245, 245) 0%, rgb(193, 192, 192) 87%, rgb(193, 192, 192) 100%);
    background: -moz-linear-gradient(top, rgb(245, 245, 245) 0%, rgb(193, 192, 192) 87%, rgb(193, 192, 192) 100%);
    background: linear-gradient(to bottom, rgb(245, 245, 245) 0%, rgb(193, 192, 192) 87%, rgb(193, 192, 192) 100%);
    float: none;
    text-align: center;
    line-height: normal;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#nav a {
    background-image: url('images/nav-btn-separator.png');
    background-position: right center;
    background-repeat: no-repeat;
    height: 39px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .25em;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#nav li:last-child a {
    background-image: none;
}

ul#navUL li a span {
    display: inline-block;
    margin: auto;
    text-align: center;
}

.homepage #nav .homepage a {
    color: #0D5E94;
}

.services #nav .services a {
    color: #0D5E94;
}

.patient-info #nav .patient-info a {
    color: #0D5E94;
}

.qa-series #nav .qa-series a {
    color: #0D5E94;
}

.staff #nav .staff a {
    color: #0D5E94;
}

.creds_div {
    padding: 10px 0;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

#leftColumn .creds_div h3 {
    padding: 10px 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #e7901f;
    text-align: center;
}







#content li {
    line-height: 18px;
    font-size: 95%;
    list-style: outside;
    position: relative;
    left:25px;
}




.list {
    line-height: 10px;
}
